
body {
  display: grid;
  grid-template-areas: 
    "header header header"
    "map_left map_center map_right"
    "legend legend legend"
    "footer footer footer";
  grid-template-columns: 1fr auto 1fr;
}

.map {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

svg {
  position: relative;
  height: 100vh;
  width: auto;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */

  background-color: lightblue;
}

.header {
  grid-area: header;
  background-color: pink;
}

.legend {
  grid-area: legend;
  background-color: lightcyan;
}

.map_left {
  grid-area: map_left;
}

.map_right {
  grid-area: map_right;
}
.footer {
  grid-area: footer;
  background-color: lightgray;
}