
.map {
  grid-area: map;
}

body {
  display: grid;
  grid-template-areas: 
    "header header header"
    "map_left map_center map_right"
    "legend legend legend"
    "footer footer footer";
  grid-template-columns: 1fr auto 1fr;
}

svg {
  height: 100vh;
  width: calc(100vh * 1.1);
  background-color: lightblue;
}

.header {
  grid-area: header;
  background-color: pink;
  font-size: 3em;
  text-align: center;
  padding: 20px;
  font-family: 'Libre Baskerville',serif;
}

.legend {
  grid-area: legend;
  background-color: lightcyan;
}

.map_left {
  grid-area: map_left;
  text-align: center;
}

.map_right {
  grid-area: map_right;
  text-align: center;
}
.footer {
  grid-area: footer;
  background-color: lightgray;
}